aside {
  border: 1px solid #ccc;
  padding: 10px;
}

/*
nav[epub\:type~='landmarks'],
nav[epub\:type~='page-list'] {
  display: none;
  visibility: hidden;
}
*/

aside[epub\:type~="footnote"] {
  font-style: italic;
}

p.ex {
  padding-left: 30px;
}
.fon {
  color: #E00;
  font-family: "Lucida Sans Unicode";
}
